@model Test_Boilerplate.AppService.PersonDto
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Index2", "Test", FormMethod.Post))
{
	@Html.AntiForgeryToken()


	@Html.TextBoxFor(m => m.PersonName, new { @class = "form-control" })

	<input type='submit' value='Submit' />


}