@using Test_Boilerplate.Web.Startup
@model List<Test_Boilerplate.AppService.PersonDto>

@{
	ViewBag.ActiveMenu = PageNames.About;
}

<h2>@L("About")!</h2>

<div class="row">
	<div class="col-lg-12">
		@L("About_Description")
	</div>


	<table border="1">
		@foreach (var p in @Model)
		{
			<tr>
				<td>@p.Id</td>
				<td>
					@p.PersonName
				</td>
			</tr>

		}

	</table>
</div>